@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap');


.rodaPe{
    background-color: rgb(145, 69, 182);
}

.bodi{
    background-color: rgb(76, 63, 145);
}

.titulinho{
    background-color: rgb(145, 69, 182);
    color: rgb(255, 86, 119);
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
.barra menu ul {
    text-align:center;
    list-style: none;
    display:inline;
 }
 .barra menu ul li{

   display:inline;

}

.personas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.historinha{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    font-family: 'Source Code Pro', monospace;
}

a:link{
    color:rgb(255, 86, 119);
}

a:visited{
    color:rgb(255, 86, 119);
}